*{
    margin:0;
    padding:0;
  }
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
  }
  .right {
    background-color: lightblue;
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
  }
  body{
    margin:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:17px;
    color:#926239;
    line-height:1.6;
  }
  #showcase{
    background-image:url(/youtube-downloader/public/youth.jpg);
    background-size:cover;
    max-width: 100%;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:text-center;
    padding:0 20px;
  }
  
  #showcase h1{
    font-size:100px;
    font-family: 'Kaushan Script', cursive;
    line-height:1.2;
    color:rgb(236, 217, 214);
    position: absolute;
    text-align: bottom;
    margin-top: 260px;
    margin-left:900px;

    font-weight: 700;
  }
  
  #showcase p{
    font-size:35px;
    font-weight:bold;
    font-style:italic;
  }
  @media(max-width: 768px){
      header #showcase,header #showcase.button{
          float:none;
          text-align:bottom;
          width:100%;
      }
  }
  
  #showcase .button{
    color:#db2424;
    border:#161412 1px solid;
    position: absolute;
    top: 87%;
    left: 49%;
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -webkit-border-radius: 8;
    border-radius: 8px;
    font-size: 26px;
    background: #dde2e6;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    -webkit-transition-duration: 0.7s;
    /* For Safari Browser */
    transition-duration: 0.7s;
    border: none;
}
  
  #showcase .button:hover{
    background:#29af3b;
    color:rgb(253, 243, 243);
    
  }
  #section-a{
    padding:20px;
    background:#926239;
    color:#fff;
    text-align:center;
  }
  
  #section-b{
    padding:20px;
    background:#f4f4f4;
    text-align:center;
  }
  
  #section-c{
    display:flex;
  }
  
  #section-c div{
    padding:20px;
  }
  
  #section-c .box-1, #section-c .box-3{
    background:#926239;
    color:#fff;
  }
  
  #section-c .box-2{
    background:#f9f9f9;
  }